<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>register client</title>
</head>
<body>
  <div>
    <h3>please register the client</h3>

    <form action="" method="POST">
      <label for="scopes">scopes</label>
      <input id="scopes" name="scopes" type="text" value="common" placeholder="please enter a scope"/>
      <input type="submit" value="register"/>
    </form>

  </div>
  <div>
    {% if clients %}
    <table>
      <thead>
        <tr>
          <th>client_id</th><th>client_secret</th><th>grant_type</th><th>scopes</th>><th>default_scopes</th>>
        </tr>
      </thead>
      <tbody>
      {% for client in clients %}
        <tr>
          <td>{{ client.client_id }}</td><td>{{ client.client_secret }}</td><td>{{ client.grant_type }}</td><td>{{ client.scopes }}</td>><td>{{ client.default_scopes }}</td>>
        </tr>
      {% end %}
      </tbody>
    </table>
    {% end %}
  </div>
</body>
</html>
